<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About us</h1>
        <div class="mt-4 p-5 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum, dolor sit amet consectetur adipis Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ab molestiae voluptate! icing elit. Eaque, necessitatibus? Soluta, quos.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipis Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ab molestiae voluptate! icing elit. Eaque, necessitatibus? Soluta, quos.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipis Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ab molestiae voluptate! icing elit. Eaque, necessitatibus? Soluta, quos.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to home</button>
            </div>
        </div>
    </div>
</section>